@import "tailwindcss";

body {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  filter: grayscale(0.4);
  background: url(/bg-CoTNAe69.jpg) 50% / cover no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: auto;
  padding: 0 32px;
}
